* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5;
}

body {
    font-family: "Roboto", sans-serif;
}

/* NAVBAR / HEADER */

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.5rem;
}

.hamburguer-menu {
    font-size: 2.3rem;
    display: flex;
    margin-left: -20px;
}

.hamburguer-menu img {
    padding: 0 5px 0 30px; 
}

.input-container {
    display: flex;
}

input[type=search] {
    width: 21.75rem;
    height: 2.5rem;
    border: 1px solid #CCC;
    background: #FFF;
}

input[type=search]:focus {
    outline: 1px solid #1c62b9;
}

.lupa {
    border: 1px solid #CCC;
    background: #F8F8F8;
    position: relative;
    padding: 2px 10px 0 10px;
    margin-left: -.3px;
}

.icon-inside-input {
     position: absolute;
     left: 10px;
     top: 50%;
     transform: translateY(-50%);
     color: #aaa;
   }

.studio {
    position: relative;
    width: 130px;
    height: 36px;
    display: flex;
}

.studio ul {
    display: inline-flex;
    align-items: center;
    list-style-type: none;
    gap: 24px;
}

ul li {
    font-size: 24px;
}

ul li img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 1%;
}